# ======================
# DATOS
# ======================

# Ignorar datos procesados
data/processed/*

# Ignorar datasets en raw (pero no los .dvc)
data/raw/*.csv

# Permitir archivos de control
!data/raw/*.dvc
!data/raw/.gitkeep
!data/processed/.gitkeep

# ======================
# PYTHON / JUPYTER
# ======================

__pycache__/
.ipynb_checkpoints/
*.py[cod]

# ======================
# ENTORNOS
# ======================

.venv/
env/