# ======================
# DATOS
# ======================

# Ignorar archivos generados antiguos en processed, pero permitir reconstruccion c_
data/processed/*
!data/processed/c_*
!data/processed/*.dvc
!data/processed/.gitkeep

# Ignorar datasets antiguos en raw, pero permitir copia c_
data/raw/*.csv
!data/raw/c_*.csv
!data/raw/*.dvc
!data/raw/.gitkeep

# ======================
# PYTHON / JUPYTER
# ======================

__pycache__/
.ipynb_checkpoints/
*.py[cod]

# ======================
# ENTORNOS
# ======================

.venv/
env/
