# ======================
# DATOS
# ======================

# Ignorar archivos generados en processed, pero permitir los .dvc
data/processed/*
!data/processed/*.dvc
!data/processed/.gitkeep

# Ignorar datasets en raw (pero no los .dvc)
data/raw/*.csv
!data/raw/*.dvc
!data/raw/.gitkeep

# ======================
# PYTHON / JUPYTER
# ======================

__pycache__/
.ipynb_checkpoints/
*.py[cod]

# ======================
# ENTORNOS
# ======================

.venv/
env/